@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

body {
	font-family: -apple-system, ui-sans-serif, sans-serif;
}

d|entry {
}

h1 {
	font-size: 150%;
}

p {
	margin-left: 1em;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
}